<div class="body-container">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Registro de Atleta</h2>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                                </div>
                                <div class="form-group">
                                    <label for="primer-apellido">Primer Apellido</label>
                                    <input type="text" class="form-control" id="primer-apellido" placeholder="Ingrese su primer apellido">
                                </div>
                                <div class="form-group">
                                    <label for="segundo-apellido">Segundo Apellido</label>
                                    <input type="text" class="form-control" id="segundo-apellido" placeholder="Ingrese su segundo apellido">
                                </div>
                                <div class="form-group">
                                    <label for="fechaNacimineto">Fecha de nacimeinto</label>
                                    <input type="date" class="form-control" id="fechaNacimineto" placeholder="Ingrese su feca de nacimiento">
                                </div>
                                <div class="form-group">
                                    <label for="fechaNacimineto">Nacionalidad</label>
                                    <input type="email" class="form-control" id="fechaNacimineto" placeholder="Ingrese su nacionalidad">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="foto">Foto</label>
                                    <input type="file" class="form-control" id="foto" placeholder="Ingrese una foto">
                                </div>
                                <div class="form-group">
                                    <label for="usuario">Usuario</label>
                                    <input type="text" class="form-control" id="usuario" placeholder="Ingrese su contraseña">
                                </div>  
                                <div class="form-group">
                                    <label for="contraseña">Contraseña</label>
                                    <input type="password" class="form-control" id="contraseña" placeholder="Ingrese su contraseña">
                                </div>  
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

